# ==== DATABASE ==== #
# ORDER DB
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_URL=

# PAYMENT DB
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=
PAYMENT_DB_URL=

# KMS DB
KMS_DB_USER=
KMS_DB_PASSWORD=
KMS_DB_URL=

# ==== STRIPE ==== #
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# ==== SOFT HSM ==== #
HSM_SO_PIN=
HSM_USER_PIN=